html,
body{
  height:100%;
  position: relative;
}
body > .ember-view  {
  min-height:100vh;
  position: relative;
}

body {
  font-family: sans-serif;
}

.base-outlet,
.base-outlet > .liquid-child {
  min-height:100vh;
}

.page {
  /* background-color: #8e8e93; */
  flex:1 1 auto;
  padding:50px;
  min-height:calc(100vh - 100px);
}

.page--a {
  background-color: #ff2750;
}
.page--b {
  background-color: #ff3925;
}
.page--c {
  background-color: #ff9500;
}
.page--d {
  background-color: #ffcd00;
}

h1 {
  color:#111;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 0 10px;
}
p {
  font-size: 18px;
  line-height: 25px;
  margin: 25px 0;
}
a {
  color:#111;
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  min-width: 200px;
}
a:hover {
  color:#666;
}
.spacer {
  height:25px;
  min-width: 200px;
}

pre {
  background: rgba(0,0,0,0.025);
  border:1px solid #DDD;
  font-family: Consolas,monospace;
  font-size: 14px;
  line-height: 25px;
  padding:0 25px;
  margin:25px 0;
}
