<div class="page page--home">
  <h1>Ember Liquid Sauce</h1>

  <div>{{link-to "Card From Bottom" "page-a"}}</div>
  <div>{{link-to "Card From Right" "page-b"}}</div>
  <div>{{link-to "Card From Top" "page-c"}}</div>
  <div>{{link-to "Card From Left" "page-d"}}</div>

  <p>This demo has the following transitions defined:</p>
  <pre><code>
export default function() {
  this.transition(
    this.fromRoute('home'),
    this.toRoute('page-a'),
    this.use('overUp', {
      shadow: true
    }),
    this.reverse('revealDown', {
      shadow: true
    })
  );
  this.transition(
    this.fromRoute('home'),
    this.toRoute('page-b'),
    this.use('overLeft', {
      shadow: true
    }),
    this.reverse('revealRight', {
      shadow: true
    })
  );
  this.transition(
    this.fromRoute('home'),
    this.toRoute('page-c'),
    this.use('overDown', {
      shadow: true
    }),
    this.reverse('revealUp', {
      shadow: true
    })
  );
  this.transition(
    this.fromRoute('home'),
    this.toRoute('page-d'),
    this.use('overRight', {
      shadow: true
    }),
    this.reverse('revealLeft', {
      shadow: true
    })
  );
}
  </code></pre>
</div>
