<div class="page page--home">
  <h1>Ember Liquid Sauce</h1>

  <div>{{link-to "Card From Bottom" "page-a"}}</div>
  <div>{{link-to "Card From Right" "page-b"}}</div>
  <div>{{link-to "Card From Top" "page-c"}}</div>
  <div>{{link-to "Card From Left" "page-d"}}</div>
</div>
